<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.htc.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAgent</display-name>
    <servlet-name>UserAgent</servlet-name>
    <servlet-class>com.htc.web.UserAgent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAgent</servlet-name>
    <url-pattern>/userAgent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAgent1</display-name>
    <servlet-name>UserAgent1</servlet-name>
    <servlet-class>com.htc.web.UserAgent1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAgent1</servlet-name>
    <url-pattern>/userAgent1</url-pattern>
  </servlet-mapping>
</web-app>