<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet-demo</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<!-- Servlet的名称 -->
  	<servlet-name>DemoServlet</servlet-name>
  	<!-- Servlet的具体实现类 -->
  	<servlet-class>cn.htc.web.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<!-- Servlet的名称 -->
  	<servlet-name>DemoServlet</servlet-name>
  	<!-- 访问这个servlet程序的请求路径 -->
  	<url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>